.modalBody {
    border-radius: 20px 20px 0 0;
    background-color: white;
    width: calc(100vw - 48px);
    height: 100%;
    padding: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.modalContainer {
    background-color: transparent !important;
    overflow: hidden !important;
    height: 80vh;
    padding: 0 !important;
}

.cringe {
    color: white;
    font-size: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
